extends ../base

block vars
    - var page = 'tender';

block main-content
    section.artcl
        .wrapper.nr
            a.artcl-back.link.link-back(is="inner-link" href="cooperation-text.html")
                svg.ico(width="8" height="15" fill="none")
                    path(d="M7 1L1 7.5 7 14" stroke="#E3E2DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                span.p_min.link-back__text Закупки
        .wrapper.nr
            h1.artcl__title.scroll-block.js-scroll-block(data-text="true") Приобретение спец.техники — трактора МТЗ-82.1 с погрузчиком для ремонта дорог
            .artcl__text
                .caps_2 № 0023/19/4.5/0029714/ДНоябрьск/МИ/ГОС/Э/03.05.2019
                .p_md Приём заявок до 16.06.2019
    section.mb_80
        .wrapper.nr
            .desc
                .desc__content.reg
                    p Реализация имущества должников: Зем.уч. для ведения садоводства, категория земель:
                    p Земли сельскохозяйственного назначения, расп. по адресу: МО, Одинцовский p-он, гп. Голицыно, в рн.е д. Кобяково, уч.66, общ.пл. 2400 кв.м., к/н 50:20:0070617:25, зем.уч. для ведения садоводства, категория земель: Земли сельскохозяйственного назначения, расп. по адресу: МО, Одинцовский p-он, гп. Голицыно, в рн.е д. Кобяково, уч.67, общ.пл. 2400 кв.м., к/н 50:20:00706 17:26 Н/ц 7945423,2р. Собственник: Филипочкин С.А. П.928 по адресу: Московская обл, Одинцовский р-н, Кобяково (гп Голицыно)
                    a.lk_med(href="") Посмотреть на hh.ru
                    p Земли сельскохозяйственного назначения, расп. по адресу: МО, Одинцовский p-он, гп. Голицыно, в рн.е д. Кобяково, уч.66, общ.пл. 2400 кв.м., к/н 50:20:0070617:25, зем.уч. для ведения садоводства, категория земель: Земли сельскохозяйственного назначения, расп. по адресу: МО, Одинцовский p-он, гп. Голицыно, в рн.е д. Кобяково, уч.67, общ.пл. 2400 кв.м., к/н 50:20:00706 17:26 Н/ц 7945423,2р. Собственник: Филипочкин С.А. П.928 по адресу: Московская обл, Одинцовский р-н, Кобяково (гп Голицыно)
    section.mb_120
        .wrapper.nr

            drop-down.faq.faq_full.active
                button.dd-button
                    .dd-button__title.h3_2 Документы
                    .ico-plus

                .dd-wrapper
                    .dd-inner

                        a.lk.lk_g
                            svg.ico(width="16" height="22" fill="none")
                                path(d="M13.727 10.5L8 16.2m0 0l-5.727-5.7M8 16.2V1M1 21h14" stroke="#4E8925" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            .p Скачать все

                        .tabs
                            .container.col-3.s
                                a.link.link-doc
                                    svg.ico(width="28" height="31" viewBox="0 0 28 31" fill="none")
                                        path(d="M4.5 5A1.5 1.5 0 016 3.5h11.125L23.5 9.946V27a1.5 1.5 0 01-1.5 1.5H6A1.5 1.5 0 014.5 27V5z" stroke="#4E8925" stroke-linecap="round" stroke-linejoin="round")
                                    .link__text
                                        .p Порядок сертификации систем менеджмента
                                        .p_s.inffile (PDF, 17,4 Mb)
                                a.link.link-doc
                                    svg.ico(width="28" height="31" viewBox="0 0 28 31" fill="none")
                                        path(d="M4.5 5A1.5 1.5 0 016 3.5h11.125L23.5 9.946V27a1.5 1.5 0 01-1.5 1.5H6A1.5 1.5 0 014.5 27V5z" stroke="#4E8925" stroke-linecap="round" stroke-linejoin="round")
                                    .link__text
                                        .p Порядок сертификации систем менеджмента
                                        .p_s.inffile (PDF, 17,4 Mb)
                                a.link.link-doc
                                    svg.ico(width="28" height="31" viewBox="0 0 28 31" fill="none")
                                        path(d="M4.5 5A1.5 1.5 0 016 3.5h11.125L23.5 9.946V27a1.5 1.5 0 01-1.5 1.5H6A1.5 1.5 0 014.5 27V5z" stroke="#4E8925" stroke-linecap="round" stroke-linejoin="round")
                                    .link__text
                                        .p Порядок сертификации систем менеджмента
                                        .p_s.inffile (PDF, 17,4 Mb)
                                a.link.link-doc
                                    svg.ico(width="28" height="31" viewBox="0 0 28 31" fill="none")
                                        path(d="M4.5 5A1.5 1.5 0 016 3.5h11.125L23.5 9.946V27a1.5 1.5 0 01-1.5 1.5H6A1.5 1.5 0 014.5 27V5z" stroke="#4E8925" stroke-linecap="round" stroke-linejoin="round")
                                    .link__text
                                        .p Порядок сертификации систем менеджмента
                                        .p_s.inffile (PDF, 17,4 Mb)
                                a.link.link-doc
                                    svg.ico(width="28" height="31" viewBox="0 0 28 31" fill="none")
                                        path(d="M4.5 5A1.5 1.5 0 016 3.5h11.125L23.5 9.946V27a1.5 1.5 0 01-1.5 1.5H6A1.5 1.5 0 014.5 27V5z" stroke="#4E8925" stroke-linecap="round" stroke-linejoin="round")
                                    .link__text
                                        .p Порядок сертификации систем менеджмента
                                        .p_s.inffile (PDF, 17,4 Mb)
                                a.link.link-doc
                                    svg.ico(width="28" height="31" viewBox="0 0 28 31" fill="none")
                                        path(d="M4.5 5A1.5 1.5 0 016 3.5h11.125L23.5 9.946V27a1.5 1.5 0 01-1.5 1.5H6A1.5 1.5 0 014.5 27V5z" stroke="#4E8925" stroke-linecap="round" stroke-linejoin="round")
                                    .link__text
                                        .p Порядок сертификации систем менеджмента
                                        .p_s.inffile (PDF, 17,4 Mb)

            a.btn.btn_def.darkgreen(
                is="inner-link"

                data-link-container="replaceable-popup"
                data-link-set-store="false"
                data-link-set-history="false"
                data-link-set-classes="false"
                data-link-animation="popup-transition"
                href="popup/popup-tender_2_level.html"
            )
                .btn__text Отправить заявку
