extends ../base

block vars
    - var page = 'activities';

block main-content
    section.artcl
        .wrapper.nr
            a.artcl-back.link.link-back(is="inner-link" href="activities.html")
                svg.ico(width="8" height="15" fill="none")
                    path(d="M7 1L1 7.5 7 14" stroke="#E3E2DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                span.p_min.link-back__text Деятельность
        .wrapper.nr
            h1.artcl__title.scroll-block.js-scroll-block(data-text="true") Выращивание
            .artcl__text
                .interlinear Мы специализируемся на выращивании злаков, овощей и животных

    section
        .wrapper.nr
            .filter-tabs
                a.filter.filter-tab.caps_2(is="inner-link" data-link-container="replaceable-catalog" href="growing.html") растениеводство
                a.filter.filter-tab.caps_2(is="inner-link" data-link-container="replaceable-catalog" href="vegetable-growing.html") овощеводство
                a.filter.filter-tab.caps_2(is="inner-link" data-link-container="replaceable-catalog" href="gardening.html") садоводство
                a.filter.filter-tab.caps_2(is="inner-link" data-link-container="replaceable-catalog" href="animal-husbandry.html") животноводство

    .replaceable-catalog(data-id="catalog")
        section.mb_80.slider-section
            .wrapper.nr
                slider-component.slider(
                    data-id="slider-cooperation"
                    data-focusable="true"
                    data-touch="true"
                    data-draggable="true"
                    data-resize="true")
                    - var values = ['Картофель', 'Лук'];

                    each val in values
                        .slide
                            picture
                                source(srcset="")
                                img(src="./static/cooperation/slider/1.jpg")
                            .slideInfo
                                .slideInfo__title.interlinear= val
                                p.slideInfo__text.p_md Род травянистых, в основном однолетних, растений семейства Злаки, ведущая зерновая культура во многих странах.
                                button.slideInfo__btn.btn.green.btn_def.btn_flex
                                    .button__text Подробнее

                .slider-controls
                    .slider-progress
                        slider-progress(data-id="slider-cooperation")
                            - for (var i = 0; i < 2; i++)
                                .item

                    .slider-buttons
                        button.slider__control.arr(is="slider-control" data-id="slider-cooperation" data-to="prev")
                            svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                use(xlink:href="#slider-arr")
                        button.slider__control.arr(is="slider-control" data-id="slider-cooperation" data-to="next")
                            svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                use(xlink:href="#slider-arr")


        section.mb_120
            .wrapper.nr
                .gr.col-5
                    button.cardProductPreview(is="slider-control" data-id="slider-cooperation" data-to=0)
                        a.cardProductPreview__link(is="inner-link" href="cultures-crops_1_level.html")
                        .cardProductPreview__imageWrapper
                            picture
                                source()
                                img(src="./static/cooperation/slider-preview/3.png")
                        .cardProductPreview__desc
                            .cardProductPreview__name.p_md Картофель

                    button.cardProductPreview(is="slider-control" data-id="slider-cooperation" data-to=1)
                        a.cardProductPreview__link(is="inner-link" href="cultures-crops_1_level.html")
                        .cardProductPreview__imageWrapper
                            picture
                                source()
                                img(src="./static/cooperation/slider-preview/6.png")
                        .cardProductPreview__desc
                            .cardProductPreview__name.p_md Лук
