popup-component.popup.popup-dropdown(data-id="popup-dropdown")
    .overflow
        .popup-content
            .popup-inner
                .wrapper
                    button.button-close.ico-close(is="popup-close")
                    .popup-dropdown__title.h1.h1_2 Что вы хотите узнать?
                    .popup-dropdown__buttons
                        a.p_big(
                            is="inner-link"

                            data-link-container="replaceable-popup"
                            data-link-set-store="false"
                            data-link-set-history="false"
                            data-link-set-classes="false"
                            data-link-animation="popup-transition"
                            href="popup/popup-contact-the-press-center.html"
                        ) Как написать в пресс-центр?
                        a.p_big(
                            is="inner-link"

                            data-link-container="replaceable-popup"
                            data-link-set-store="false"
                            data-link-set-history="false"
                            data-link-set-classes="false"
                            data-link-animation="popup-transition"
                            href="popup/popup-ask-a-question.html") Как задать вам вопрос?
                        a.p_big(
                            is="inner-link"

                            data-link-container="replaceable-popup"
                            data-link-set-store="false"
                            data-link-set-history="false"
                            data-link-set-classes="false"
                            data-link-animation="popup-transition"
                            href="popup/popup-work.html") Как устроиться на работу?

                        a.p_big(
                            is="inner-link"

                            data-link-container="replaceable-popup"
                            data-link-set-store="false"
                            data-link-set-history="false"
                            data-link-set-classes="false"
                            data-link-animation="popup-transition"
                            href="popup/popup-bid-big.html") Как купить с/х продукцию?
                        a.p_big(is="inner-link"

                            data-link-container="replaceable-popup"
                            data-link-set-store="false"
                            data-link-set-history="false"
                            data-link-set-classes="false"
                            data-link-animation="popup-transition"
                            href="popup/popup-other-asset.html") Как купить другие активы?
                        button.p_big(is="popup-toggle" data-id="popup-incident") Как обратиться на горячую линию?
