extends ../base

block vars
    - var page = 'crops';

block main-content
    section.artcl.pb_60
        .wrapper.nr
            h1.artcl__title.scroll-block.js-scroll-block(data-text="true") История
    section.mb_120
        .wrapper.nr
            .desc
                .desc__content.content
                    p Сегодня группа компаний «Волго-Дон АгроИнвест» находится на 5 месте в рейтинге крупнейших землевладельцев России. На площади в 450 000 гектаров ежедневно трудятся более 5 000 человек. Три организации – «Волгоградская АгроПромышленная Компания», «Липецкая АгроПромышленная Компания» и Управляющая Компания «АГРО-Инвест» – объединил в мощный сельскохозяйственный холдинг Алексей Сергеевич Кукура.

                .desc__aside.slider-aside
                    .slider-sticky
                        slider-component.as.slider(
                            data-id="slider-cooperation"
                            data-focusable="true"
                            data-touch="true"
                            data-draggable="true"
                            data-resize="true")
                            - var n = 1;

                                while n < 5
                                    .slide
                                        picture
                                            source(srcset="")
                                            img(src="./static/slider/slide-" + n++ + ".jpg")

                        .slider-controls
                            .slider-progress
                                slider-progress(data-id="slider-cooperation")
                                    - for (var i = 0; i < 4; i++)
                                        .item

                            .slider-buttons
                                button.slider__control.arr(is="slider-control" data-id="slider-cooperation" data-to="prev")
                                    svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                        use(xlink:href="#slider-arr")
                                button.slider__control.arr(is="slider-control" data-id="slider-cooperation" data-to="next")
                                    svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                        use(xlink:href="#slider-arr")
    section.artcl-page.mb_80
        .wrapper.nr
            .text(data-full="true")
                h1 Волго-Дон АгроИнвест
                p Это объединение положило начало истории компании, которая в декабре 2017 года была зарегистрирована как Группа «Волго-Дон АгроИнвест»

    section.mb_120
        .wrapper.nr
            .container.col-3.maps.mb_80
                .col.trigger.trigger-default(data-trigger-type="scroll")
                    card-map.cardMap.cardMap_history(data-id="1")
                        .cardMap__header
                            .cardMap__subtitle.p 2010
                            .cardMap__dots
                                i(style="background: #73D49C")
                                i(style="background: #CE99CE")
                        .cardMap__body
                            .h3_2 ВАПК
                            drop-down.cardMap__dropdown
                                .dd-wrapper
                                    .dd-inner
                                        p ВАПК существует с 2001 года. С 2010  года стала первой компанией, положившей начало формированию Группе «Волго-Дон АгроИнвест»
                                        .container.col-2.benefits
                                            .benefit.benefit_history
                                                svg.benefit__ico(width="60" height="60" fill="none")
                                                    rect(x="11.574" y="15.574" width="38.425" height="38.425" rx="4" fill="#F1E678")
                                                    path(d="M45.425 23.808v-8.809a4 4 0 00-4-4H19.81m25.616 12.809v21.617a4 4 0 01-4 4H26.213m19.212-25.617l-12.808 2.135M7 30.213v15.212a4 4 0 004 4h15.213M7 30.212V15a4 4 0 014-4h8.808M7 30.212l12.808-2.134m12.809-2.135l-6.404 23.482m6.404-23.482l-12.808 2.134m0 0V11" stroke="#4E8925" stroke-width="2")
                                                p 122 000 га земельный банк
                                            .benefit.benefit_history
                                                svg.benefit__ico(width="60" height="60" fill="none")
                                                    rect(x="15" y="13.999" width="42" height="42" rx="21" fill="#F1E678")
                                                    path(d="M5.828 43.108V32.134c0-3.658 1.22-12.27 10.974-12.27s10.974 8.612 10.974 12.27v10.974" stroke="#4E8925" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                                    path(d="M11.008 31.541l12.019 12.02V31.54m-12.02 0h12.02m-12.02 0v12.02l12.02-12.02M4 46.934h42.066M24.12 22.296v-1.274M43.55 43.107V20.373C43.55 19.077 43 10 33.873 10c-9.125 0-9.754 9.077-9.754 10.373v.649m0 0h10.43m5.007 22.085V21.022h-5.008m0 0v22.085" stroke="#4E8925" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                                    path(d="M34.09 27.48h5.879m-5.88 6.484h5.88m-5.88 6.483h5.88" stroke="#4E8925" stroke-width="2")
                                                p +2 элеватора

                                .dd-button
                                    .dd-button__title.p(data-text-change="Скрыть;Показать еще") Показать еще
                                    svg.ico-arr(width="15" height="8" viewBox="0 0 15 8" fill="none")
                                        use(href="#dd-array")

                .col.trigger.trigger-default(data-trigger-type="scroll")
                    card-map.cardMap.cardMap_history(data-id="2")
                        .cardMap__header
                            .cardMap__subtitle.p 2015
                            .cardMap__dots
                                i(style="background: #A9E0FF")
                                i(style="background: #99A8DB")
                        .cardMap__body
                            .h3_2 ЛАПК
                            drop-down.cardMap__dropdown
                                .dd-wrapper
                                    .dd-inner
                                        p ВАПК существует с 2001 года. С 2010  года стала первой компанией, положившей начало формированию Группе «Волго-Дон АгроИнвест»
                                        .container.col-2.benefits
                                            .benefit.benefit_history
                                                svg.benefit__ico(width="60" height="60" fill="none")
                                                    rect(x="11.574" y="15.574" width="38.425" height="38.425" rx="4" fill="#F1E678")
                                                    path(d="M45.425 23.808v-8.809a4 4 0 00-4-4H19.81m25.616 12.809v21.617a4 4 0 01-4 4H26.213m19.212-25.617l-12.808 2.135M7 30.213v15.212a4 4 0 004 4h15.213M7 30.212V15a4 4 0 014-4h8.808M7 30.212l12.808-2.134m12.809-2.135l-6.404 23.482m6.404-23.482l-12.808 2.134m0 0V11" stroke="#4E8925" stroke-width="2")
                                                p +54 000 га земельный банк
                                            .benefit.benefit_history
                                                svg.benefit__ico(width="60" height="60" fill="none")
                                                    rect(x="15" y="13.999" width="42" height="42" rx="21" fill="#F1E678")
                                                    path(d="M5.828 43.108V32.134c0-3.658 1.22-12.27 10.974-12.27s10.974 8.612 10.974 12.27v10.974" stroke="#4E8925" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                                    path(d="M11.008 31.541l12.019 12.02V31.54m-12.02 0h12.02m-12.02 0v12.02l12.02-12.02M4 46.934h42.066M24.12 22.296v-1.274M43.55 43.107V20.373C43.55 19.077 43 10 33.873 10c-9.125 0-9.754 9.077-9.754 10.373v.649m0 0h10.43m5.007 22.085V21.022h-5.008m0 0v22.085" stroke="#4E8925" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                                    path(d="M34.09 27.48h5.879m-5.88 6.484h5.88m-5.88 6.483h5.88" stroke="#4E8925" stroke-width="2")
                                                p +3 элеватора

                                .dd-button
                                    .dd-button__title.p(data-text-change="Скрыть;Показать еще") Показать еще
                                    svg.ico-arr(width="15" height="8" viewBox="0 0 15 8" fill="none")
                                        use(href="#dd-array")
                .col.trigger.trigger-default(data-trigger-type="scroll")
                    card-map.cardMap.cardMap_history(data-id="3")
                        .cardMap__header
                            .cardMap__subtitle.p 2017
                            .cardMap__dots
                                i(style="background: #EAD74D")
                                i(style="background: #C4DA62")
                                i(style="background: #F4A950")
                        .cardMap__body
                            .h3_2 АгроИнвест
                            drop-down.cardMap__dropdown
                                .dd-wrapper
                                    .dd-inner
                                        p Заключительным этапом формирования стало присоединение летом 2017 года к холдингу Группы компаний «АГРО-Инвест»
                                        .container.col-2.benefits
                                            .benefit.benefit_history
                                                svg.benefit__ico(width="60" height="60" fill="none")
                                                    rect(x="11.574" y="15.574" width="38.425" height="38.425" rx="4" fill="#F1E678")
                                                    path(d="M45.425 23.808v-8.809a4 4 0 00-4-4H19.81m25.616 12.809v21.617a4 4 0 01-4 4H26.213m19.212-25.617l-12.808 2.135M7 30.213v15.212a4 4 0 004 4h15.213M7 30.212V15a4 4 0 014-4h8.808M7 30.212l12.808-2.134m12.809-2.135l-6.404 23.482m6.404-23.482l-12.808 2.134m0 0V11" stroke="#4E8925" stroke-width="2")
                                                p +256 000 га земельный банк
                                            .benefit.benefit_history
                                                svg.benefit__ico(width="60" height="60" fill="none")
                                                    rect(x="15" y="13.999" width="42" height="42" rx="21" fill="#F1E678")
                                                    path(d="M5.828 43.108V32.134c0-3.658 1.22-12.27 10.974-12.27s10.974 8.612 10.974 12.27v10.974" stroke="#4E8925" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                                    path(d="M11.008 31.541l12.019 12.02V31.54m-12.02 0h12.02m-12.02 0v12.02l12.02-12.02M4 46.934h42.066M24.12 22.296v-1.274M43.55 43.107V20.373C43.55 19.077 43 10 33.873 10c-9.125 0-9.754 9.077-9.754 10.373v.649m0 0h10.43m5.007 22.085V21.022h-5.008m0 0v22.085" stroke="#4E8925" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                                    path(d="M34.09 27.48h5.879m-5.88 6.484h5.88m-5.88 6.483h5.88" stroke="#4E8925" stroke-width="2")
                                                p +4 элеватора

                                .dd-button
                                    .dd-button__title.p(data-text-change="Скрыть;Показать еще") Показать еще
                                    svg.ico-arr(width="15" height="8" viewBox="0 0 15 8" fill="none")
                                        use(href="#dd-array")

            .maps.maps_history.trigger.trigger-default(data-trigger-type="scroll")
                svg(width="1159" height="743" viewBox="0 0 1159 743" fill="none")
                    path(d="M372.675 95.9199C386.827 105.963 436.994 117.341 444.678 127.92C447.348 131.595 448.711 134.364 444.819 138.477C442.973 140.428 428.639 145.182 425.192 147.193C424.892 147.368 424.69 147.586 424.536 147.821C423.001 150.167 421.959 151.917 421.31 153.061C420.751 154.046 419.304 154.741 417.507 154.847C408.244 155.395 402.201 155.778 394.509 156.528C393.419 156.634 392.465 156.972 391.817 157.471C384.488 163.114 383.614 163.874 377.085 169.299C376.859 169.487 376.593 169.665 376.243 169.77C373.697 170.534 367.263 170.387 364.297 170.984C363.552 171.134 363.101 171.525 362.864 171.966L362.813 172.06C362.275 173.063 361.658 174.212 358.015 178.512C357.755 178.82 357.387 179.092 356.939 179.309L356.636 179.456C353.154 181.138 345.436 178.974 343.507 176.317C340.947 172.79 336.262 168.12 327.858 162.156C304.796 145.79 270.36 146.984 273.661 144.841C276.961 142.698 274.361 128.038 263.255 120.156C253.705 113.38 213.52 108.59 191.581 104.714C181.007 102.846 177.875 98.3514 180.335 96.2631C189.675 88.3335 182.839 69.4975 180.742 68.0097C178.646 66.5219 194.481 44.4392 200.537 40.4061C206.496 36.4367 244.257 45.7234 259.758 47.0094C260.253 47.0504 260.74 47.0375 261.213 46.9805C288.582 43.6784 290.854 30.6522 316.413 31.0036C342.195 31.3581 354.965 50.0314 354.875 52.5312C354.786 55.0311 358.523 85.8772 372.675 95.9199Z" stroke="#DAE4D0" stroke-width="2")
                    path(d="M583.784 345.085L583.788 345.079L583.793 345.072L596.47 325.866C597.891 323.713 597.44 320.831 595.429 319.215L572.115 300.478C570.078 298.841 570.963 295.563 573.547 295.173L608.571 289.886C608.925 289.833 609.285 289.843 609.635 289.917L661.233 300.736L758.98 331.972C759.385 332.102 759.805 332.179 760.23 332.202L896.377 339.624L896.405 339.626H896.432H913.292C914.296 339.626 915.233 340.128 915.789 340.964L920.919 348.671L921.752 348.117L920.919 348.671C921.379 349.362 921.532 350.212 921.343 351.02L919.199 360.144C918.686 362.329 919.692 364.589 921.66 365.67L955.966 384.514C956.488 384.801 957.058 384.992 957.648 385.079L1005.26 392.058C1005.94 392.158 1006.57 392.489 1007.03 392.995L1024.2 411.655C1024.91 412.428 1025.85 412.957 1026.88 413.168L1064.59 420.877C1064.91 420.942 1065.22 421.06 1065.5 421.225L1092.34 436.876C1094.05 437.874 1094.34 440.229 1092.92 441.614L1048.76 484.755C1048.27 485.23 1047.64 485.525 1046.96 485.594L1023.29 488C1021.17 488.215 1019.42 489.747 1018.93 491.818L1014.04 512.392C1013.8 513.405 1013.05 514.221 1012.06 514.547L982.267 524.377C980.399 524.993 979.066 526.647 978.861 528.603L977.636 540.261C977.536 541.209 977.709 542.165 978.135 543.017L990.325 567.439C990.805 568.401 990.734 569.546 990.139 570.441L980.847 584.401C980.148 585.452 978.865 585.953 977.638 585.653L948.481 578.53C947.861 578.378 947.306 578.033 946.895 577.544L918.78 544.054C918.004 543.13 916.922 542.518 915.731 542.33L879.848 536.655C879.332 536.573 878.846 536.358 878.439 536.031L830.661 497.691C829.456 496.724 827.871 496.368 826.368 496.728L802.363 502.47C801.787 502.608 801.183 502.572 800.627 502.367L779.406 494.536C779.065 494.41 778.749 494.222 778.475 493.983L761.357 479.074C760.602 478.416 759.665 478 758.67 477.88L751.49 477.017C750.129 476.854 748.76 477.256 747.704 478.131L730.929 492.025C729.699 493.044 727.886 492.921 726.806 491.744L720.858 485.269C720.476 484.852 720.219 484.336 720.117 483.779L716.138 462.039C715.927 460.889 715.321 459.849 714.423 459.1L689.72 438.48C689.008 437.886 688.146 437.502 687.229 437.369L629.393 429.032C628.573 428.914 627.738 429.001 626.961 429.286L607.993 436.228C607.45 436.427 606.861 436.464 606.296 436.336L581.64 430.723C581.207 430.624 580.802 430.431 580.453 430.157L566.24 418.999L542.981 396.547C541.68 395.291 541.777 393.178 543.188 392.047L561.413 377.443C561.799 377.134 562.136 376.77 562.415 376.362L583.784 345.085Z" fill="#FBFAF9" stroke="#DAE4D0" stroke-width="2")
                    path(d="M569.524 243.763L586.385 198.791C586.853 197.541 588.085 196.76 589.589 196.76L630.065 196.76C630.715 196.76 631.385 196.907 632.018 197.188L675.69 216.6C676.323 216.881 677.013 217.027 677.664 217.029C702.835 217.102 699.882 219.868 717.185 213.65C724.206 211.127 725.542 207.178 743.121 201.584C744.323 201.202 745.767 201.451 746.968 202.234L819.03 249.195C819.793 249.693 820.41 250.374 820.795 251.144L844.523 298.6C844.635 298.823 844.726 299.052 844.795 299.283L850.935 319.749C851.645 322.114 849.972 324.127 847.426 323.973L769.287 319.237C768.894 319.214 768.496 319.137 768.106 319.011L711.274 300.624L661.454 285.425L615.147 274.738C611.684 273.939 603.927 272.569 600.863 273.551C590.786 276.779 570.629 283.032 552.529 280.359C536.662 278.016 541.938 266.124 543.237 260.935C546.591 247.536 562.406 254.692 569.252 244.303C569.362 244.136 569.453 243.951 569.524 243.763Z" fill="#FBFAF9" stroke="#DAE4D0" stroke-width="2")
                    path(d="M858.719 294.18C862.073 306.883 866.196 321.129 866.639 322.577C866.961 323.633 879.962 324.482 887.21 324.874C889.723 325.01 891.344 323.013 890.644 320.677L887.602 310.538C887.175 309.115 887.606 307.729 888.719 306.941L920.592 284.398C921.202 283.966 921.975 283.745 922.809 283.762L999.148 285.386C1000.27 285.409 1001.26 285.002 1001.91 284.259L1011.1 273.661C1011.6 273.074 1011.86 272.313 1011.83 271.491L1011.11 253.458C1011.06 252.312 1010.48 251.105 1009.34 250.439C1002.57 246.459 993.761 250.486 984.012 245.736C983.083 245.283 981.547 239.893 979.523 236.491C979.17 235.898 978.622 235.406 978.002 235.037C970.903 230.813 969.521 230.467 963.356 228.435C962.512 228.156 961.64 228.112 960.862 228.312L933.149 235.439C932.726 235.548 932.272 235.585 931.808 235.549L869.88 230.784C867.976 230.638 866.446 231.72 866.178 233.404L862.294 257.739C862.093 258.997 861.179 259.95 859.874 260.264L847.058 263.338C844.862 263.865 843.954 266.117 845.081 268.242L858.36 293.268C858.517 293.564 858.638 293.87 858.719 294.18Z" fill="#FBFAF9" stroke="#DAE4D0" stroke-width="2")
                    path(d="M793.091 183.825C789.092 190.097 784.915 194.087 779.87 201.387C778.748 203.01 779.513 205.421 781.519 206.739L838.297 244.049C839.125 244.593 840.08 244.889 841.005 244.889L846.025 244.889C847.732 244.889 849.065 243.888 849.367 242.379L853.641 221.009C853.827 220.077 854.404 219.311 855.297 218.92C863.516 215.316 879.886 211.62 886.638 206.264C887.907 205.257 887.665 203.359 886.532 201.846C871.044 181.157 899.335 179.285 892.494 169.412C892.13 168.886 891.568 168.453 890.988 168.14C847.888 144.897 841.18 138.937 835.311 139.914C815.591 143.197 803.044 145.646 790.74 147.373C790.069 147.467 789.464 147.726 788.984 148.122C784.393 151.913 781.904 153.718 777.896 159.332C771.135 168.805 797.601 176.752 793.091 183.825Z" fill="#FBFAF9" stroke="#DAE4D0" stroke-width="2")
                    path(d="M354.848 222.239C354.02 221.317 353.666 220.064 353.889 218.845L357.633 198.387C357.854 197.182 358.615 196.144 359.698 195.571L372.538 188.783L402.225 167.655C402.902 167.173 403.713 166.914 404.544 166.914H430.499C432.124 166.914 433.587 165.93 434.202 164.426L436.151 159.654C436.58 158.604 437.434 157.785 438.502 157.401L457.141 150.708C457.867 150.448 458.653 150.402 459.404 150.578L537.904 168.939L570.285 181.192C572.452 182.012 573.471 184.496 572.504 186.602L565.138 202.642C565.042 202.852 564.963 203.07 564.905 203.294L557.434 231.731C557.103 232.989 556.182 234.008 554.963 234.462L537.202 241.09C536.601 241.315 535.954 241.391 535.316 241.313L495.942 236.476C494.407 236.287 492.902 237 492.075 238.306L484.094 250.911C483.361 252.07 482.086 252.772 480.715 252.772H459.663C459.003 252.772 458.353 252.608 457.772 252.296L437.648 241.498C436.613 240.942 435.385 240.87 434.292 241.3L415.34 248.758C414.11 249.242 412.72 249.087 411.627 248.344L391.667 234.777C391.056 234.362 390.342 234.124 389.603 234.09L366.124 233.004C365.054 232.955 364.049 232.479 363.333 231.682L354.848 222.239Z" fill="#4E8925")
                    path(d="M247.403 325.345C245.123 323.67 245.626 320.129 248.283 319.155L256.278 316.225C257.728 315.694 258.742 314.376 258.885 312.839L260.181 298.882C260.239 298.263 260.439 297.666 260.768 297.139L276.286 272.196C277.118 270.858 278.659 270.133 280.221 270.345L300.661 273.121C301.22 273.197 301.789 273.154 302.33 272.995L320.878 267.53C321.691 267.291 322.407 266.799 322.922 266.126L334.715 250.734C335.208 250.091 335.884 249.613 336.654 249.363L349.081 245.326C349.955 245.042 350.899 245.067 351.755 245.397L365.54 250.708C365.976 250.876 366.438 250.966 366.906 250.975L387.36 251.347C388.065 251.36 388.755 251.559 389.358 251.925L405.443 261.659C406.884 262.531 407.624 264.212 407.295 265.864L404.862 278.047C404.698 278.869 404.279 279.619 403.666 280.19L383.159 299.29C382.165 300.216 381.708 301.584 381.948 302.922L384.008 314.418C384.248 315.759 385.155 316.886 386.414 317.408L407.006 325.943C407.558 326.172 408.051 326.521 408.45 326.965L412.59 331.572C414.01 333.152 413.946 335.568 412.445 337.071L406.186 343.341C405.436 344.093 404.417 344.515 403.355 344.515H354.025C353.015 344.515 352.041 344.132 351.301 343.444L337.051 330.19C336.065 329.273 334.684 328.913 333.376 329.233L319.192 332.706C317.985 333.002 316.709 332.72 315.739 331.943L302.201 321.094C301.491 320.525 300.609 320.215 299.7 320.215H286.557C286.018 320.215 285.485 320.324 284.989 320.536L267.742 327.887C267.084 328.167 266.364 328.266 265.655 328.174L249.044 326.004C248.45 325.926 247.886 325.699 247.403 325.345Z" fill="#4E8925")
                    path(d="M398.004 303.965C398.004 302.905 398.424 301.888 399.173 301.138L416.599 283.684C417.13 283.152 417.5 282.482 417.667 281.75L421.427 265.318C421.699 264.126 422.503 263.124 423.607 262.598L436.458 256.484C437.461 256.007 438.618 255.968 439.651 256.378L456.922 263.226C457.265 263.362 457.624 263.449 457.991 263.487L480.437 265.773C481.001 265.831 481.571 265.768 482.109 265.588L491.997 262.287C492.916 261.98 493.693 261.349 494.182 260.513L498.969 252.334C499.774 250.957 501.321 250.191 502.905 250.384L526.404 253.246C528.534 253.506 530.08 255.399 529.907 257.538L528.347 276.916C528.25 278.12 528.703 279.304 529.579 280.136L574.254 322.591C575.049 323.347 575.499 324.395 575.499 325.491V329.912C575.499 330.665 575.287 331.402 574.886 332.04L553.221 366.53C552.98 366.913 552.676 367.252 552.323 367.533L528.478 386.489C527.771 387.051 526.893 387.358 525.989 387.358H498.72C497.658 387.358 496.64 386.935 495.89 386.184L482.019 372.29C481.293 371.563 480.317 371.143 479.29 371.117L435.401 369.99C434.247 369.96 433.161 369.433 432.424 368.543L419.914 353.442C418.695 351.97 418.688 349.841 419.897 348.36L430.121 335.844C431.404 334.273 431.308 331.99 429.898 330.532L420.445 320.758C420.044 320.344 419.559 320.021 419.022 319.812L400.552 312.617C399.016 312.019 398.004 310.539 398.004 308.89V303.965Z" fill="#4E8925")
                    path(d="M247.338 371.097C246.101 369.894 245.775 368.033 246.529 366.481L251.305 356.646C252.047 355.119 253.672 354.226 255.358 354.419L265.836 355.619C266.402 355.683 266.975 355.627 267.517 355.452L276.023 352.713C277.271 352.312 278.243 351.323 278.624 350.069L280.332 344.447C280.659 343.371 281.425 342.482 282.441 341.998L295.406 335.829C296.432 335.341 297.617 335.312 298.665 335.75L310.643 340.749C311.254 341.004 311.792 341.406 312.209 341.92L315.5 345.978C316.332 347.004 317.617 347.553 318.933 347.445L335.099 346.123C336.091 346.042 337.078 346.334 337.867 346.941L351.356 357.335C352.04 357.862 352.876 358.153 353.74 358.166L407.232 358.931C408.366 358.947 409.44 359.445 410.187 360.299L427.691 380.338C428.415 381.167 429.449 381.66 430.548 381.703L479.311 383.596C480.38 383.638 481.389 384.106 482.11 384.897L492.805 396.614C493.519 397.396 494.515 397.864 495.573 397.913L527.044 399.379C528.1 399.428 529.092 399.893 529.806 400.672L544.768 416.99C546.012 418.347 546.169 420.377 545.149 421.91L544.57 422.78C543.982 423.664 543.067 424.277 542.026 424.486L512.404 430.42C511.686 430.564 510.942 430.508 510.253 430.258L480.739 419.541C479.613 419.132 478.364 419.249 477.334 419.86L459.651 430.343C459.318 430.54 458.959 430.688 458.583 430.782L423.363 439.602C421.583 440.047 420.335 441.647 420.335 443.482V450.411C420.335 451.494 420.774 452.53 421.551 453.283L430.453 461.913C431.849 463.266 432.07 465.428 430.976 467.036L415.354 489.985C414.911 490.636 414.285 491.142 413.555 491.439L390.101 500.983C389.258 501.327 388.557 501.947 388.114 502.743L378.142 520.653C377.476 521.849 376.246 522.621 374.879 522.701L309.697 526.497C308.346 526.576 307.046 525.965 306.244 524.875L284.523 495.374C283.975 494.63 283.187 494.099 282.291 493.87L267.397 490.067C265.083 489.476 263.799 487.003 264.647 484.771L282.485 437.825C283.174 436.011 282.462 433.965 280.797 432.97L262.732 422.176C261.442 421.406 260.692 419.977 260.792 418.477L260.852 417.587C260.961 415.935 262.077 414.522 263.658 414.032L274.497 410.671C276.485 410.055 277.668 408.017 277.217 405.984L275.421 397.889C275.041 396.173 273.584 394.906 271.832 394.768L262.972 394.067C260.946 393.907 259.362 392.253 259.29 390.222L259.07 384.052C259.033 383.021 258.6 382.045 257.86 381.326L247.338 371.097Z" fill="#4E8925")
                    path(d="M3.73871 329.367C1.99481 330.752 1.71836 333.295 3.12382 335.023L8.1183 341.163C8.96011 342.198 10.2624 342.745 11.5907 342.622L29.1407 340.994C30.4868 340.869 31.8048 341.433 32.6446 342.492L51.9937 366.898C52.7162 367.809 53.7995 368.361 54.9614 368.41L80.8673 369.491C81.7583 369.528 82.6363 369.266 83.3616 368.747L95.7364 359.893C96.17 359.583 96.6613 359.363 97.1814 359.245L107.301 356.956C108.342 356.721 109.433 356.911 110.333 357.485L121.354 364.509C121.953 364.892 122.644 365.107 123.355 365.133L154.306 366.282C154.778 366.299 155.249 366.233 155.698 366.086L174.831 359.828L190.557 355.986C191.118 355.849 191.701 355.835 192.268 355.945L216.476 360.638L232.831 362.644C234.812 362.887 236.669 361.632 237.183 359.703L239.152 352.307C239.391 351.409 239.935 350.623 240.69 350.083L249.799 343.566C250.477 343.08 251.291 342.819 252.126 342.819H260.316C263.045 342.819 264.701 339.808 263.24 337.503C262.67 336.605 261.72 336.019 260.663 335.913L246.113 334.448C245.247 334.361 244.432 333.993 243.794 333.401L235.378 325.596C234.426 324.713 233.107 324.347 231.837 324.614L217.436 327.633C216.805 327.765 216.151 327.743 215.531 327.568L204.776 324.538C203.97 324.311 203.257 323.838 202.735 323.184L194.864 313.329C194.204 312.503 193.244 311.972 192.194 311.852L181.046 310.576C180.162 310.474 179.338 310.082 178.702 309.459L162.316 293.41C161.775 292.881 161.096 292.516 160.356 292.357L83.3831 275.835C82.6381 275.675 81.863 275.731 81.1488 275.997L26.2078 296.438C25.8301 296.578 25.4758 296.775 25.1568 297.022L13.1484 306.301C12.1081 307.105 11.5292 308.368 11.6 309.681L12.1842 320.507C12.254 321.8 11.6927 323.048 10.6781 323.854L3.73871 329.367Z" fill="#4E8925")
                    path(d="M436.6 455.327C434.902 452.89 436.359 449.517 439.299 449.083L466.498 445.073C467.268 444.959 467.987 444.624 468.569 444.108L480.1 433.878C481.169 432.929 482.664 432.623 484.021 433.076L512.276 442.51C512.988 442.748 513.752 442.781 514.482 442.604L552.085 433.527C553.404 433.209 554.795 433.581 555.779 434.516L567.675 445.824C568.241 446.362 568.951 446.722 569.719 446.861L601.106 452.543C601.759 452.661 602.43 452.615 603.061 452.41L619.881 446.916C620.42 446.739 620.991 446.68 621.555 446.741L684.104 453.531C684.94 453.622 685.726 453.974 686.35 454.537L700.429 467.229C701.159 467.887 701.621 468.79 701.727 469.767L703.838 489.15C703.935 490.041 704.329 490.873 704.956 491.514L722.289 509.23C723.232 510.194 724.597 510.618 725.92 510.357L744.807 506.641C745.853 506.436 746.774 505.821 747.365 504.933L752.077 497.852C753.389 495.881 756.116 495.475 757.946 496.977L774.13 510.271C774.535 510.604 775.002 510.853 775.503 511.006L801.539 518.943C802.259 519.163 803.027 519.175 803.754 518.977L824.633 513.306C825.81 512.986 827.069 513.221 828.051 513.943L860.977 538.153C862.871 539.545 863.162 542.261 861.606 544.023L836.878 572.023C836.696 572.229 836.536 572.454 836.399 572.693L818.149 604.779C817.331 606.215 817.471 607.994 818.511 609.279C823.646 615.63 838.486 634.171 837.817 635.512C837.148 636.852 822.642 652.884 817.652 658.381C816.626 659.512 815.054 659.945 813.588 659.518L772.673 647.596C771.914 647.375 771.107 647.383 770.353 647.621L687.967 673.556C687.085 673.834 686.326 674.409 685.82 675.184L672.687 695.281C672.269 695.921 671.677 696.427 670.98 696.741L654.269 704.256C653.005 704.824 651.537 704.698 650.388 703.921L621.804 684.595C620.62 683.794 619.098 683.687 617.813 684.312L594.214 695.803C592.292 696.739 591.445 699.02 592.292 700.983L596.889 711.648C597.759 713.666 596.838 716.009 594.825 716.893L537.15 742.238C536.274 742.623 535.289 742.681 534.374 742.402L490.941 729.161C489.891 728.841 489.018 728.104 488.528 727.122L467.04 684.073C466.537 683.065 465.632 682.316 464.548 682.01L439.673 674.982C437.16 674.272 435.99 671.383 437.302 669.124L446.538 653.224C447.23 652.031 448.489 651.279 449.867 651.235L471.773 650.527C472.395 650.507 473.004 650.342 473.551 650.045L490.227 640.997C491.412 640.354 492.194 639.157 492.305 637.813L495.962 593.859C496.089 592.335 495.335 590.872 494.02 590.09L460.935 570.413C458.982 569.251 458.388 566.697 459.628 564.792L475.302 540.719C475.466 540.466 475.601 540.196 475.705 539.914L478.747 531.623C479.372 529.919 478.771 528.007 477.284 526.967L435.953 498.059C434.236 496.858 433.737 494.534 434.81 492.733L446.33 473.404C447.134 472.054 447.074 470.359 446.176 469.069L436.6 455.327Z" fill="#4E8925")
                    path(d="M901.069 315.336C900.654 313.674 901.344 311.932 902.784 311.004L927.622 295.01C928.309 294.568 929.115 294.347 929.931 294.376L994.366 296.692H1006.12C1007.37 296.692 1008.56 296.101 1009.31 295.095L1023.95 275.613C1024.53 274.852 1024.81 273.911 1024.75 272.96L1023.61 254.775C1023.41 251.606 1026.81 249.48 1029.57 251.043L1042.78 258.51C1043.38 258.849 1044.06 259.028 1044.75 259.028H1056.24C1057.73 259.028 1059.09 258.208 1059.78 256.897L1064.59 247.801C1065.39 246.282 1067.07 245.445 1068.77 245.722L1124.09 254.77C1124.92 254.905 1125.68 255.297 1126.28 255.891L1156.29 285.956C1157.4 287.068 1157.76 288.726 1157.2 290.196L1147.37 316.229C1147 317.205 1147.03 318.287 1147.45 319.243L1157 341.114C1157.67 342.65 1157.31 344.442 1156.1 345.602L1131 369.664C1130.24 370.395 1129.8 371.398 1129.77 372.454L1129.05 402.001C1129.02 403.268 1128.39 404.445 1127.36 405.174L1101.15 423.622C1099.89 424.509 1098.23 424.593 1096.89 423.838L1066.62 406.83C1066.16 406.576 1065.66 406.412 1065.15 406.348L1031.49 402.18C1030.5 402.058 1029.59 401.569 1028.94 400.811L1009.31 377.875C1008.55 376.986 1007.44 376.475 1006.27 376.475H977.971C977.321 376.475 976.68 376.317 976.104 376.013L934.042 353.818C932.621 353.068 931.786 351.54 931.923 349.939L932.763 340.12C932.857 339.026 932.497 337.941 931.767 337.121L922.962 327.222C922.223 326.392 921.173 325.906 920.062 325.882L906.662 325.583C904.86 325.543 903.307 324.302 902.87 322.553L901.069 315.336Z" fill="#4E8925")


    .bb.bb_g.mb_120

    section.mb_120
        .wrapper.nr
            .flex.flex_jscb.flex_aifs.trigger.trigger-default(data-trigger-type="scroll")
                .photos__dates
                    a.link.link_date(is="filter-link" href="?filter[date]=_")
                        .p 2019
                    -for (var i = 8; i > 0; i--)
                        a.link.link_date(is="filter-link" href="?filter[date]=201" + i)
                            .p= '201' + i
                .photos__imagesWrapper.replaceable-filter(data-id="catalog")
                    .mb_100
                        .h3_2 Июнь

                        // если нужно добавить отступ тогда пиши mb_80
                        article
                            h4 Заголовок
                            drop-down.dd_history
                                p Начало формирования группы Волго-Дон. головной офис в Дзержинском районе, 11 филиалов в Волгоградской области и один в Самарской. На территории Волгоградской области, также действуют два элеватора — Еланский и Руднянский.
                                .dd-wrapper
                                    .dd-inner
                                        p Заключительным этапом формирования стало присоединение летом 2017 года к холдингу Группы компаний «АГРО-Инвест»
                                .dd-button
                                    .dd-button__title.p(data-text-change="Скрыть;Показать еще") Показать еще
                                    svg.ico-arr(width="15" height="8" viewBox="0 0 15 8" fill="none")
                                        use(href="#dd-array")


                            slider-component.slider(
                                data-id="slider-text"
                                data-focusable="true"
                                data-touch="true"
                                data-draggable="true"
                                data-resize="true")
                                - for (var i = 1; i < 6; i++)
                                    .slide
                                        picture
                                            source(srcset="")
                                            img(src="./static/slider/slide-" + i + ".jpg")
                            .slider-controls
                                .slider-progress
                                    slider-progress(data-id="slider-text")
                                        - for (var i = 0; i < 5; i++)
                                            .item
                                .slider-buttons
                                    button.slider__control.arr(is="slider-control" data-id="slider-text" data-to="prev")
                                        svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                            use(xlink:href="#slider-arr")
                                    button.slider__control.arr(is="slider-control" data-id="slider-text" data-to="next")
                                        svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                            use(xlink:href="#slider-arr")
                    .mb_100
                        .h3_2 Май

                        // если нужно добавить отступ тогда пиши mb_80
                        article
                            h4 Заголовок
                            drop-down.dd_history
                                p Начало формирования группы Волго-Дон. головной офис в Дзержинском районе, 11 филиалов в Волгоградской области и один в Самарской. На территории Волгоградской области, также действуют два элеватора — Еланский и Руднянский.
                                .dd-wrapper
                                    .dd-inner
                                        p Заключительным этапом формирования стало присоединение летом 2017 года к холдингу Группы компаний «АГРО-Инвест»
                                .dd-button
                                    .dd-button__title.p(data-text-change="Скрыть;Показать еще") Показать еще
                                    svg.ico-arr(width="15" height="8" viewBox="0 0 15 8" fill="none")
                                        use(href="#dd-array")


                            slider-component.slider(
                                data-id="slider-text"
                                data-focusable="true"
                                data-touch="true"
                                data-draggable="true"
                                data-resize="true")
                                - for (var i = 1; i < 6; i++)
                                    .slide
                                        picture
                                            source(srcset="")
                                            img(src="./static/slider/slide-" + i + ".jpg")
                            .slider-controls
                                .slider-progress
                                    slider-progress(data-id="slider-text")
                                        - for (var i = 0; i < 5; i++)
                                            .item
                                .slider-buttons
                                    button.slider__control.arr(is="slider-control" data-id="slider-text" data-to="prev")
                                        svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                            use(xlink:href="#slider-arr")
                                    button.slider__control.arr(is="slider-control" data-id="slider-text" data-to="next")
                                        svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                            use(xlink:href="#slider-arr")
