extends ../base

block vars
    - var page = 'text';

block main-content
    section.artcl
        .wrapper.nr
            a.artcl-back.link.link-back(href="")
                svg.ico(width="8" height="15" fill="none")
                    path(d="M7 1L1 7.5 7 14" stroke="#E3E2DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                span.p_min.link-back__text Новости
        .wrapper.nr
            h1.artcl__title.scroll-block.js-scroll-block(data-text="true").full 12 декабря губернатор Александр Гусев встретился с генеральным  директором ООО «Волго-Дон АгроИнвест»
            .nfo
                p 13 марта 2013
                .dot
                p.type Актуальное


    section.artcl-page.mb_120
        .wrapper.nr
            article.mb_60
                .text(data-col="1")
                    .text-sub
                        p Во встрече также приняли участие первый заместитель генерального директора ООО "Волго-Дон АгроИнвест" Анна Лищук и заместитель председателя правительства области Виктор Логвинов. На встрече шла речь о текущей работе компании на территории Воронежской области, дальнейших планах и готовящихся к реализации проектах.
                        p В 2017 году компания приобрела земельные активы на территории области. На сегодняшний день площадь подконтрольных " Волго-Дон АгроИнвесту " сельхозугодий в регионе составляет почти 35 тысяч гектаров. Компания осуществляют свою деятельность в трех районах: Верхнехавском, Грибановском и Новохоперском.
                    figure.img-small
                        picture
                            img(src="./static/text/text.png")

                figure.slider-wr
                    slider-component.slider(
                        data-id="slider-text"
                        data-focusable="true"
                        data-touch="true"
                        data-draggable="true"
                        data-resize="true")

                        - for (var i = 1; i < 6; i++)
                            .slide
                                picture
                                    source(srcset="")
                                    img(src="./static/slider/slide-" + i + ".jpg")

                    .slider-controls
                        .slider-progress
                            slider-progress(data-id="slider-text")
                                - for (var i = 0; i < 5; i++)
                                    .item


                        .slider-buttons
                            button.slider__control.arr(is="slider-control" data-id="slider-text" data-to="prev")
                                svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                    use(xlink:href="#slider-arr")
                            button.slider__control.arr(is="slider-control" data-id="slider-text" data-to="next")
                                svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                    use(xlink:href="#slider-arr")


                h3 Организация
                .text
                    p В целом профиль сельского хозяйства — свекловичный с посевами подсолнечника и зерновых культур, молочно-мясным скотоводством, свиноводством и овцеводством. Среднедушевой коэффициент по производству крупы — 2,4 (данные 2002 года).
                    p В целом профиль сельского хозяйства — свекловичный с посевами подсолнечника и зерновых культур, молочно-мясным скотоводством, свиноводством и овцеводством. Среднедушевой коэффициент по производству крупы — 2,4 (данные 2002 года).
                    p Объём валовой продукции сельского хозяйства в 2010 году составил около 35,3 млрд рублей.На предприятии трудится около 400 человек.

                    ul
                        li производство зерновых
                        li сахарной свеклы
                        li картофеля
                        li крупный рогатый скот
                        li свиноводство
                        li птицеводство


                h3 Таблица
                table
                    tbody
                        tr
                            th(rowspan=3)
                                p Интерес
                            td
                                p к производству качественной продукции


                        tr
                            td
                                p к реализации благотворительных инициатив


                        tr
                            td
                                p к грамотным бизнес-стратегиям



                        tr
                            th(rowspan=3)
                                p Уважение
                            td
                                p к земле, на которой работаем


                        tr
                            td
                                p к коллективу, в которым работаем


                        tr
                            td
                                p к партнерам, с которыми взаимодействуем


                        tr
                            th(rowspan=3)
                                p Инновации
                            td
                                p для постоянного развития и обновления технологий


                        tr
                            td
                                p для повышения квалификации сотрудников


                        tr
                            td
                                p для развития агропромышленной отрасли страны





                h3 Таблица
                table
                    tr
                        th
                            p Область
                        th
                            p Дочернее общество
                        th
                            p Сферы деятельности
                        th
                            p Районы присутствия
                    tr
                        td Курская область
                        td ЗАО «Касторное-АГРО-Инвест»
                        td Растеневодство: кукуруза, подсолнечник, соя, пшеница озимая, ячмень яровой
                        td Касторенский <br>Горшеченский <br> Советский<br> Конышевский<br> Курский<br>Дмитриевский
                    tr
                        td Самарская  область
                        td ООО «ВАПК»
                        td Растеневодство: кукуруза, подсолнечник, соя, пшеница озимая, ячмень яровой
                        td Касторенский <br>Горшеченский <br> Советский<br> Конышевский<br> Курский<br>Дмитриевский

                    tr
                        td Тамбовская область
                        td ООО «Агро ИнвестНедвижимость»
                        td Хранение
                        td Моршанский элеватор<br>Ракша элеватор

                blockquote
                    h2 Волго-Дон АгроИнвест — один из крупнейших работодателей аграрного сектора. Основными направлениями деятельности является развитие аграрного сектора в регионах Черноземья и Поволжья


                .text(data-col="1")
                    .text-sub
                        h2 Во встрече также приняли участие
                        p Первый заместитель генерального директора ООО "Волго-Дон АгроИнвест" Анна Лищук и заместитель председателя правительства области Виктор Логвинов. На встрече шла речь о текущей работе компании на территории Воронежской области, дальнейших планах и готовящихся к реализации проектах. В 2017 году компания приобрела земельные активы на территории области. На сегодняшний день площадь подконтрольных " Волго-Дон АгроИнвесту " сельхозугодий в регионе составляет почти 35 т. га.

                        h3 Компания осуществляют свою деятельность в трех районах:
                        ol
                            li Верхнехавском
                            li Грибановском
                            li Новохоперском
                        p На предприятии трудится около 400 человек. В ближайшее время его руководство намерено обновить сельскохозяйственную технику и оптимизировать существующую кадровую структуру.
                    figure.slider-wr
                        slider-component.slider(
                            data-id="slider-text-2"
                            data-focusable="true"
                            data-touch="true"
                            data-draggable="true"
                            data-resize="true")

                            - for (var i = 1; i < 6; i++)
                                .slide
                                    picture
                                        source(srcset="")
                                        img(src="./static/slider/slide-" + i + ".jpg")

                        .slider-controls
                            .slider-progress
                                slider-progress(data-id="slider-text-2")
                                    - for (var i = 0; i < 5; i++)
                                        .item


                            .slider-buttons
                                button.slider__control.arr(is="slider-control" data-id="slider-text-2" data-to="prev")
                                    svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                        use(xlink:href="#slider-arr")
                                button.slider__control.arr(is="slider-control" data-id="slider-text-2" data-to="next")
                                    svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                        use(xlink:href="#slider-arr")


                .text(data-col="1")
                    .text-sub
                        h2 Наш элеватор отвечает всем требованиям хранения
                        p Перед обработкой семян, проводится дезинсекция как самого помещения, так и оборудования, а оптимизация температурного режима гарантирует надежность хранения.
                        h3 В области насчитывается около 300 сельскохозяйственных предприятий, основными направлениями которых являются:
                        ul
                            li производство зерновых
                            li сахарной свеклы
                            li картофеля
                            li крупный рогатый скот
                            li свиноводство
                            li птицеводство
                        p На предприятии трудится около 400 человек. В ближайшее время его руководство намерено обновить сельскохозяйственную технику и оптимизировать существующую кадровую структуру.
                    figure.img-small
                        picture
                            img(src="./static/text/text.png")
                        figcaption.p Площадь сельхозугодий в регионе составляет почти 35 тысяч га

                blockquote.bq_2
                    //в data-ch - нужно добавлять первую букву с цитаты
                    h2(data-ch="П") Первый заместитель генерального директора ООО "Волго-Дон АгроИнвест" Анна Лищук и заместитель председателя правительства области Виктор Логвинов.

                .text
                    h2 Во встрече также приняли участие
                    p Первый заместитель генерального директора <a href="#">ООО "Волго-Дон АгроИнвест"</a> Анна Лищук и заместитель председателя правительства области Виктор Логвинов. На встрече шла речь о текущей работе компании на территории Воронежской области, дальнейших планах и готовящихся к реализации проектах. В 2017 году компания приобрела земельные активы на территории области. На сегодняшний день площадь подконтрольных " Волго-Дон АгроИнвесту " сельхозугодий в регионе составляет почти 35 т. га.
                    .yt-wr(data-video-id="https://youtu.be/WiQjerp5gWE" data-preview="")
                        .yt-outer
                            button.yt-button
                            .yt-preview
                            .yt-in

                figure.slider-wr
                    slider-component.slider(
                        data-id="slider-cooperation"
                        data-focusable="true"
                        data-touch="true"
                        data-draggable="true"
                        data-resize="true")

                        - for (var i = 1; i < 2; i++)
                            .slide
                                picture
                                    source(srcset="")
                                    img(src="./static/slider/slide-" + i + ".jpg")

                    .slider-controls
                        .slider-progress
                            slider-progress(data-id="slider-cooperation")
                                - for (var i = 0; i < 1; i++)
                                    .item


                        .slider-buttons
                            button.slider__control.arr(is="slider-control" data-id="slider-cooperation" data-to="prev")
                                svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                    use(xlink:href="#slider-arr")
                            button.slider__control.arr(is="slider-control" data-id="slider-cooperation" data-to="next")
                                svg(width="26" height="20" viewBox="0 0 26 20" fill="none")
                                    use(xlink:href="#slider-arr")
                h2 Во встрече также приняли участие
                .text
                    p Первый заместитель генерального директора ООО "Волго-Дон АгроИнвест" Анна Лищук и заместитель председателя правительства области Виктор Логвинов. На встрече шла речь о текущей работе компании на территории Воронежской области, дальнейших планах и готовящихся к реализации проектах.
                    p В 2017 году компания приобрела земельные активы на территории области. На сегодняшний день площадь подконтрольных " Волго-Дон АгроИнвесту " сельхозугодий в регионе составляет почти 35 т. га.

                <div class="text">
                    <p>Около пяти лет назад Общество стало полностью уходить от аренды объектов. Было принято решение больше не возить зерно на сторонние элеваторы, так как это экономически невыгодно. И, действительно, введение собственных объектов хранения — комплексов по приемке, очистке и сушке в селах Меловое и Генеральшино Дмитриевского района в 2013 году, — значительно уменьшило расходы и увеличило объемы мощности.</p><p>Сегодня зерно с полей доставляется на производственные базы, где оно сушится и закладывается в зернохранилище. В распоряжении «Дмитриев-АГРО-Инвест» зерносушильные комплексы в Разиньково Курского района, Генеральшино и Меловом Дмитриевского района, общей вместимостью 54 тысячи тонн. Весь цикл севооборота — от выращивания до отгрузки — осуществляется в подразделении без привлечения сторонних объектов.</p><p>После масштабной реконструкции в Курской области состоялось открытие комплексов по сушке, подработке и хранению зерна «Генеральшино» ЗАО «Дмитриев-АГРО-Инвест». После возведения новых объектов объемом 15 000 тонн мощности хранения Группы в Курской области составляют 176 750 тонн. Благодаря введенным ресурсам появилась возможность обеспечить своевременную подработку и хранение всех видов продукции, что сократит сроки уборочной кампании. Кроме того, местоположение и конструкция комплексов позволит в перспективе увеличить их, установив дополнительные секции.</p><p>В Обществе максимально развитая материально-техническая база. На полях работает современная техника всемирно известных немецких и американских производителей: John Deere, KLAAS, HORSCH. В этом году «Дмитриев-АГРО-Инвест» пополнился новой техникой для специалистов и агрономов, а также получил новые комбайны русского производства Torum.</p>
                </div>
                .video-wr
                    .video-outer
                        video.video-in(src="https://www.dropbox.com/s/vk4ayt0v8fbeyrv/IMG_0010.MP4?dl=1" controls)

                .yt-wr(data-video-id="https://youtu.be/WiQjerp5gWE" data-preview="https://im0-tub-ru.yandex.net/i?id=1aab120aeed35dd10aa01871b4d5338d&n=13")
                    .yt-outer
                        button.yt-button
                        .yt-preview
                        .yt-in
                    p.yt-caption Площадь сельхозугодий в регионе составляет почти 35 тысяч га

            include ../templates/sliders/slider-text-bottom

            .share
                .share__title.p Поделиться в соцсетях
                .socials
                    a.social__item.fb(href="")
                        <svg width="35" height="35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0a8 8 0 00-8 8v19a8 8 0 008 8h19a8 8 0 008-8V8a8 8 0 00-8-8H8zm11.625 9c1.125 0 2.094.087 2.375.13v2.856h-1.635c-1.282 0-1.521.638-1.521 1.557v2.045h3.052l-.406 3.202h-2.646V27h-3.188v-8.21H13v-3.202h2.656V13.23c0-2.737 1.615-4.23 3.969-4.23z" fill="#4E8925"/>
                        </svg>

                    a.social__item.vk(href="")
                        <svg width="35" height="35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0a8 8 0 00-8 8v19a8 8 0 008 8h19a8 8 0 008-8V8a8 8 0 00-8-8H8zm18.866 12.55c.951-.12 1.104.318 1.104.318.164.449-.35 1.5-1.64 3.22-1.227 1.634-1.821 2.235-1.765 2.767.041.388.427.739 1.164 1.426 1.594 1.483 1.993 2.239 2.077 2.4l.011.02s.7 1.227-.776 1.238l-2.799.044c-.601.12-1.4-.427-1.4-.427-.416-.287-.822-.755-1.209-1.2-.587-.677-1.128-1.3-1.59-1.155 0 0-.787.252-.765 1.939.011.36-.164.558-.164.558s-.197.208-.58.24h-1.257c-2.766.176-5.204-2.375-5.204-2.375s-2.668-2.76-5.008-8.268c-.153-.361.011-.537.011-.537s.164-.208.623-.208l2.996-.022c.284.044.481.197.481.197s.175.12.263.35c.492 1.227 1.126 2.344 1.126 2.344 1.093 2.256 1.837 2.64 2.263 2.41 0 0 .558-.34.438-3.067-.044-.985-.318-1.434-.318-1.434-.251-.34-.721-.438-.929-.471-.164-.022.11-.416.47-.591.536-.263 1.487-.274 2.613-.263.886.01 1.137.065 1.476.142.801.194.777.812.723 2.148-.015.397-.034.857-.034 1.39 0 .125-.004.259-.008.396-.02.679-.044 1.445.402 1.727.23.154.798.022 2.197-2.365 0 0 .657-1.139 1.17-2.464.088-.24.274-.34.274-.34s.175-.098.415-.065l3.15-.022z" fill="#4E8925"/>
                        </svg>

                    a.social__item.inst(href="")
                        <svg width="35" height="35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.053 17.5a3.553 3.553 0 11-7.105 0 3.553 3.553 0 017.105 0zm-1.347 0a2.206 2.206 0 11-4.412 0 2.206 2.206 0 014.412 0z" fill="#4E8925"/>
                        <path d="M21.534 13.885a.793.793 0 01-.419-.419 1 1 0 11.419.419z" fill="#4E8925"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0a8 8 0 00-8 8v19a8 8 0 008 8h19a8 8 0 008-8V8a8 8 0 00-8-8H8zm2 13.158A3.158 3.158 0 0113.158 10h8.684A3.158 3.158 0 0125 13.158v8.684A3.158 3.158 0 0121.842 25h-8.684A3.158 3.158 0 0110 21.842v-8.684z" fill="#4E8925"/>
                        </svg>

    include ../templates/slider-information
